.display
{


    border:1px solid red;
    float:right;
    width:500px;
    height:700px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  
  .example-box
  {
      width:200px;
      height: 200px;
      background-origin: padding-box;

      border-radius: 5em;
      border:1px solid red;
      text-align: center;
      padding: 50px;

  }